extends layout

block content
  h1.title= title
  p#welcome= signup_description

  form.form-vertical(name="sign-up", action="signup", method="post")
    fieldset
      div.input
        label(for="firstName") First Name
          - if (errors['firstName'])
            span.error= errors['firstName']['msg']
        input#firstName(type="text", name="firstName", placeholder="Your first name", value=(Object.keys(errors).length > 0 ? info["firstName"] : ""))
      div.input
        label(for="lastName") Last Name
          - if (errors['lastName'])
              span.error= errors['lastName']['msg']
        input#lastName(type="text", name="lastName", placeholder="Your last name", value=(Object.keys(errors).length > 0 ? info["lastName"] : ""))
      div.input
        label(for="email") E-mail
          - if (errors['email'])
              span.error= errors['email']['msg']
        input(type="text", name="email", placeholder="you@example.com", value=(Object.keys(errors).length > 0 ? (errors['email'] ? errors['email']['value'] : info["email"]) : ""))
      div.input
        label(for="handle") User handle
          - if (errors['handle'])
              span.error= errors['handle']['msg']
        input(type="text", name="handle", placeholder="Your handle", value=(Object.keys(errors).length > 0 ? info["handle"] : ""))
      div.input
        label(for="desc") About yourself
          - if (errors['desc'])
              span.error= errors['desc']['msg']
        textarea(name="desc", cols="40", rows="15", placeholder="Tell us about yourself.")
          | #{(Object.keys(errors).length > 0 ? info["desc"] : "")}
      div.input
        label(for="conditional")
          input#conditional(type="checkbox", name="conditional", checked=(Object.keys(errors).length > 0 ? info["conditional"] : false))
          |  #{conditional}
        - if (errors['conditional'])
            span.error= errors['conditional']['msg']
      div.input
        label(for="codeOfConduct")
          input#codeOfConduct(type="checkbox", name="codeOfConduct", checked=(Object.keys(errors).length > 0 ? info["codeOfConduct"] : false))
          |  I have read and will adhere to the #[a(href=code_of_conduct, class="codeOfConduct") Code of Conduct]
        - if (errors['codeOfConduct'])
            span.error= errors['codeOfConduct']['msg']
      div.g-recaptcha(data-sitekey=recaptcha_sitekey)
    - if (errors['g-recaptcha-response'])
      span.error= errors['g-recaptcha-response']['msg']
    div.actions
      input.btn.btn-lg.btn-success(type="submit", value="Sign up!")
